@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --foreground-rgb: 35, 35, 35; /* Black #232323 */
  --background-start-rgb: 254, 247, 229; /* Cream #FEF7E5 */
  --background-end-rgb: 254, 247, 229; /* Cream #FEF7E5 */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

/* RTL Support for Arabic */
.arabic {
  direction: rtl;
}

.arabic .flex {
  flex-direction: row-reverse;
}

.arabic .text-left {
  text-align: right;
}

.arabic .text-right {
  text-align: left;
}

/* Utility classes */
.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* Print styles */
@media print {
  .no-print {
    display: none !important;
  }
}